<!DOCTYPE html>

<html>
    <head>
        <!--====== USEFULL META ======-->
        <meta charset="utf-8">
        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--====== Favicon ======-->
        <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!--====== TITLE TAG ======-->
        <title>Pettu | Pet Care &amp; Pet Shop</title>
        <!--====== STYLESHEETS ======-->
        <link rel="stylesheet" href="css/swiper-bundle-min.css" />
        <link rel="stylesheet" href="css/bootstrap-min.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/remixicon.css">
        <link rel="stylesheet" href="css/theme-icon.css">
        <link rel="stylesheet" href="css/lity-min.css">
        <link rel="stylesheet" href="css/theme.css">
        <!--====== MAIN STYLESHEET ======-->
        <link href="style.css" rel="stylesheet">
        <script src="js/vendor/modernizr.js"></script>
    </head>
    <body data-spy="scroll" data-target=".nav__area" data-offset="50">
        <div th:fragment="header">
            <!-- nav__area-Start -->
            <div th:if="${session.aemail}">
                <div class="nav__area nav__transparent" data-spy="affix" data-offset-top="197">
                <div class="container nav__row">
                    <!-- nav__logo-Start -->
                    <div class="nav__logo">
                        <!-- Text-Logo-Markup -->
                        <!--<h2 class="nav__logo-text"><a href="#">Gority</a></h2>-->
                        <!-- Image-Logo-Markup -->
                         <a href="/" class="nav__logo-image logo__light"><img src="myuploads/22.png" style=" width: 237px;" alt="Gority"></a>
                        <a href="/" class="nav__logo-image logo__dark"><img src="myuploads/21.png" style=" width: 237px;" alt="Gority"></a>
                    </div>
                    <!--nav__logo-End-->
                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-function-line"></i>
                    </div>
                    <div class="nav__right" id="nav-right">
                        <div class="nav__close" id="nav-close">
                            <i class="ri-close-line"></i>
                        </div>
                        <!-- nav__menu-Start -->
                        <nav class="nav__menu" id="nav-menu">
                            <ul class="nav">
                                <li class="current-menu-item"><a href="/ahome">Home</a>
                                   
                                </li>
                               
                                <li><a href="/ashop">Manage Shops</a>
                                   
                                </li>
                                <li><a href="/areport">Shop Reports</a>
                                    
                                </li>
                               
                               
                            </ul>
                        </nav>
                        <!-- nav__menu-End -->
                        <div class="nav__dark">
                            <!-- Theme change button -->
                            <i class="ri-moon-line change-theme" id="theme-button"></i>
                        </div>

                       
                        <a href="/logout" class="primary__button">Logout</a>
                    </div>
                </div>
            </div>
            </div>
            <div th:unless="${session.aemail}">
                <div class="nav__area nav__transparent" data-spy="affix" data-offset-top="197">
                <div class="container nav__row">
                    <!-- nav__logo-Start -->
                    <div class="nav__logo">
                        <!-- Text-Logo-Markup -->
                        <!--<h2 class="nav__logo-text"><a href="#">Gority</a></h2>-->
                        <!-- Image-Logo-Markup -->
                         <a href="/" class="nav__logo-image logo__light"><img src="myuploads/22.png" style=" width: 237px;" alt="Gority"></a>
                        <a href="/" class="nav__logo-image logo__dark"><img src="myuploads/21.png" style=" width: 237px;" alt="Gority"></a>
                    </div>
                    <!--nav__logo-End-->
                    <div class="nav__toggle" id="nav-toggle">
                        <i class="ri-function-line"></i>
                    </div>
                    <div class="nav__right" id="nav-right">
                        <div class="nav__close" id="nav-close">
                            <i class="ri-close-line"></i>
                        </div>
                        <!-- nav__menu-Start -->
                        <nav class="nav__menu" id="nav-menu">
                            <ul class="nav">
                                <li class="current-menu-item"><a href="/">Home</a>
                                   
                                </li>
                                <li><a href="/adminlogin">Admin</a></li>
                                <li><a href="#">Shop</a>
                                    <ul class="sub-menu">
                                        <li><a href="/SRegister">Shop Register</a></li>
                                        <li><a href="/slogin">Shop Login</a></li>
                                       
                                    </ul>
                                </li>
                                 
                               <li><a href="#">User</a>
                                    <ul class="sub-menu">
                                        <li><a href="/uregister">User Register</a></li>
                                        <li><a href="/UL">User Login</a></li>
                                       
                                    </ul>
                                </li>
                                
                               
                            </ul>
                        </nav>
                        <!-- nav__menu-End -->
                        <div class="nav__dark">
                            <!-- Theme change button -->
                            <i class="ri-moon-line change-theme" id="theme-button"></i>
                        </div>

                       
                      
                    </div>
                </div>
            </div>
            </div>
            <!-- nav__area-End -->
        </div>
    </body>
</html>
